<h1>{{ dayCtrl.meals[0].date }}</h1>

<div ng-repeat="meal in dayCtrl.meals">

<h2>{{ meal.meal }}</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Station</th>
            <th>Menu Items</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Euro</td>
            <td>Chicken Pesto Sandwich, Parmesan Chips, Country Trio Vegetables</td>
        </tr>
        <tr>
            <td>Expo</td>
            <td>Linguine Pasta, Pomodoro Sauce, Garlic Cheese Breadstick</td>
        </tr>
        <tr>
            <td>Grill</td>
            <td>1/4 Pound Hamburger, 1/4 lb Cheeseburger, Jalapeno Popper, Sweet Chili Sauce, Twister Fries</td>
        </tr>
        <tr>
            <td>Fusion</td>
            <td>Stuffed Pepper Casserole, Chicken Poblano Soup, Minestrone Soup, New England Clam Chowder</td>
        </tr>
        </tbody>

    </table>

</div>
