<h1>WEDNESDAY 2017-10-18</h1>

<h2>Breakfast</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Station</th>
        <th>Menu Items</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Euro</td>
        <td>Chicken Pesto Sandwich, Parmesan Chips, Country Trio Vegetables</td>
    </tr>
    <tr>
        <td>Expo</td>
        <td>Linguine Pasta, Pomodoro Sauce, Garlic Cheese Breadstick</td>
    </tr>
    <tr>
        <td>Grill</td>
        <td>1/4 Pound Hamburger, 1/4 lb Cheeseburger, Jalapeno Popper, Sweet Chili Sauce, Twister Fries</td>
    </tr>
    <tr>
        <td>Fusion</td>
        <td>Stuffed Pepper Casserole, Chicken Poblano Soup, Minestrone Soup, New England Clam Chowder</td>
    </tr>
    </tbody>

</table>

<h2>Lunch</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Station</th>
        <th>Menu Items</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Euro</td>
        <td>Chicken Pesto Sandwich, Parmesan Chips, Country Trio Vegetables</td>
    </tr>
    <tr>
        <td>Expo</td>
        <td>Linguine Pasta, Pomodoro Sauce, Garlic Cheese Breadstick</td>
    </tr>
    <tr>
        <td>Grill</td>
        <td>1/4 Pound Hamburger, 1/4 lb Cheeseburger, Jalapeno Popper, Sweet Chili Sauce, Twister Fries</td>
    </tr>
    <tr>
        <td>Fusion</td>
        <td>Stuffed Pepper Casserole, Chicken Poblano Soup, Minestrone Soup, New England Clam Chowder</td>
    </tr>
    </tbody>

</table>

<h2>Dinner</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Station</th>
        <th>Menu Items</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Euro</td>
        <td>Chicken Pesto Sandwich, Parmesan Chips, Country Trio Vegetables</td>
    </tr>
    <tr>
        <td>Expo</td>
        <td>Linguine Pasta, Pomodoro Sauce, Garlic Cheese Breadstick</td>
    </tr>
    <tr>
        <td>Grill</td>
        <td>1/4 Pound Hamburger, 1/4 lb Cheeseburger, Jalapeno Popper, Sweet Chili Sauce, Twister Fries</td>
    </tr>
    <tr>
        <td>Fusion</td>
        <td>Stuffed Pepper Casserole, Chicken Poblano Soup, Minestrone Soup, New England Clam Chowder</td>
    </tr>
    </tbody>

</table>
