<div class="row">
    <div class="col-md-2">

        <ul class="nav nav-pills nav-stacked" id="meal-chooser">
            <li><a ng-click="menuCtrl.changeMeal('BREAKFAST')">Breakfast</a></li>
            <li><a ng-click="menuCtrl.changeMeal('LUNCH')">Lunch</a></li>
            <li><a ng-click="menuCtrl.changeMeal('DINNER')">Dinner</a></li>
        </ul>

    </div>

    <div class="col-md-10">

        <div ng-repeat="menu in menuCtrl.weeklyMenus">

            <a href="#/day/{{ menu.date }}"><h2>{{ menu.date }}</h2></a>
            <h3>{{ menu.meal }}</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Station</th>
                    <th>Menu Items</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="recipe in menu">
                    <td>{{ recipe.category }}</td>
                    <td>{{ recipe.shortname }}</td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>